li {
  list-style: none;
  font-size: 24px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0vw;
}

.navBar ul {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: var(--var-color-5);
}

.header-main {
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat,sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 6.25rem 2.3rem 6.25rem;
  height: 6rem;
  background-color: #fff;
}

.links {
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.profile {
  width: 50px;
  height: 50px;
}

.image-user {
  width: 50%;
  height: 50%;
}
